html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.mainpanel {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url("./index/background.png");
}

.mainpanel article {
    display: table-row;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.mainpanel section {
    display: table-cell;
    width: 50%;
    height: 100%;
    margin: 0;
    vertical-align: middle;
    text-align: center;
}

.mainform input[type="text"], .mainform input[type="tel"] {
    font-family: Courier New, Courier, monospace;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 1em 0;
}

.mainform p {
    min-height: 2em;
    min-width: 1em;
}

